.update{

  &-layout{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: var(--spacing);
    flex-wrap: wrap;
    position: relative;
    padding:var(--layout-spacing);

    .recipe-form { 
      width: 60%;
     }
  }

  &-container {
    --spacing: 2rem;
    padding: var(--spacing);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > h2 {
        width: 100%;
    }
  }
  
  &-info {
    --radius: 5px;
    display: inline-flex;
    position: absolute;
    top: 3dvh;
    left: 3dvh;
    padding: .9rem;
    background: var(--black-color);
    border-radius: var(--radius);
    z-index: 999;

    span {
      font-size: 1rem;
      color: var(--secondary-color);
    }
  }


  &-recipe {
  position: sticky;
  top:0;

    .card-recipe {
      width: 100%;
    }
  }
}
