.update-layout {
  width: 85%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.update-info {
  --radius: 5px;
  display: inline-flex;
  position: absolute;
  top: 2dvh;
  left: 8dvh;
  padding: .9rem;
  background: var(--black-color);
  border-radius: var(--radius);
  z-index: 999;

  span {
    font-size: 1rem;
    color: var(--secondary-color);
  }
}

.update-recipe {

  .card-recipe {
    width: 100%;
  }

}