
.hero {
    --data-layout:'Hero';
    --stretching:55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.hero-title {
    margin-bottom: 1rem;
    font-size: var(--title-font-size);
    line-height: 1.35;
    text-transform: uppercase;
    text-align: center;
    color:var(--secondary-color);
}

.initial-count{
    color:var(--white-color);
}