

/* List of Filters */
.recipes-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: calc(1.5 * var(--regular-spacing));
}

.form-select{
    --hidden:0;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filters-group {
    display: flex;
}


.filters {
    --radius:11px;
    --gap:1rem;
    /* width: fit-content; */
    width: 200px;
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    /* padding:1rem; */
    row-gap:var(--gap);
    border-radius:var(--radius);
    /* height: 50px; */
    height:fit-content;
    overflow: hidden;
    transition: height .15s ease-in-out;
}

.filters:hover{
    height:fit-content;
    height:calc-size(auto);

}


.labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    font-size: 1.05rem;
    font-weight:var(--weight-bold);
}

.search-results{
    --gap:.45rem;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

.option {
    padding:.5rem 1rem;
    color:var(--black-color)
}

.option:hover,
.option:focus{
    background:var(--secondary-color);
    color:var(--white-color);
    cursor:pointer;
}

.search-filter {
    --radius:4px;
    display: block;
    padding:.6rem;
    margin-inline:1rem;
    font-size:1rem;
    color:var(--black-color);
    font-weight:var(--weight-bold);
    border-radius:var(--radius);
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
}


.filters:focus {
    background-color: var(--secondary-color);
    color:var(--black-color);                   
    cursor: pointer;    
}

.filters:not(first-of-type),
.filters:not(last-of-type) {
    margin-right:1.5rem;
}

.filters option {
    font-size:1rem;
    color:currentColor;
}

/* .filters option:selected{
    background:var(--black-color);
    color:var(--white-color);
} */

.recipes-counter {
    font-family: var(--title-font-family);
    font-size: 1.3rem;
}

.count {
    font-size: 1.35rem;
    color:var(--color-debeug);
}


/* List of Recipes */
.recipes-container {
    --gap:5dvw;
    width:100%;
    min-height:80dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap:var(--gap) 1rem;
    margin-top: 3rem;
}

/* Card Recipe */
.card-recipe {
    --radius:21px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
    border-radius: var(--radius);
    background-color: var(--white-color);
    overflow: hidden;
    transition: var(--regular-transi);
    position: relative;
}

.card-recipe > a {
    display:flex;
}

.card-recipe:hover,
.card-recipe:focus {
    box-shadow: 3px 3px 9px var(--grey-color);
}

.card-recipe:hover > a,
.card-recipe:focus > a{
    cursor:pointer;
}

.recipe-parts{
    margin-top:1rem;
}

.recipe-content {
    padding: var(--regular-spacing);
}

.recipe-timing {
    --radius:20px;
    --pos:18px;
    position:absolute;
    top:var(--pos);
    right:var(--pos);
    width: fit-content;
    background:var(--secondary-color);
    padding: .35rem 1rem;
    color:var(--grey-dark-color);
    border-radius: var(--radius);
}

.recipe-thumbnail {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    flex-grow: 1;  
}

.recipe-title {
    margin-block:.5rem;
    font-family: var(--title-font-family);
    font-size:1.25rem;
    font-weight:var(--weight-regular);
    color:var(--black-color);
}

.recipe-subtitle {
    margin-block: 1rem;
    font-family: var(--body-font-family);
    font-size:.95rem;
    font-weight: var(--weight-bold);
    color:var(--grey-color);
    text-transform: uppercase;
}

.recipe-description {
    font-size: .9rem;
    font-weight: var(--weight-regular);
    color:var(--black-color);
}

.recipe-list {
    --gap:1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:var(--gap);
    list-style-type:none;
    margin: 0;
    padding:0;
}

.recipe-ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size:.9rem;
 
}

.recipe-taglist {
    --gap:2rem;
    display: flex;
    flex-wrap: wrap;
    margin-block: 1.25rem;
    gap:calc(var(--gap) / 2) var(--gap);
}


.recipe-tag{
    --radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    width: 190px;
    height:fit-content;
    background: var(--secondary-color);
    padding: 1rem .88rem;
    color: var(--grey-dark-color);
    border-radius: var(--radius);
}

.recipe-tag > i {
    margin-left: 1rem;
    cursor: pointer;
}


.recipe-tag > i:hover,
.recipe-tag > i:focus {
    font-size:1.25rem;
}

.recipe-quantity {
    color: var(--grey-color);  
}
.recipe-ustensil{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    color: var(--primary-color);
}
.recipe-badge{
    position: absolute;
    top: 220px;
    left:12px;
    padding: .5rem 1rem;
    border-radius:0 var(--radius);
    background-color: var(--primary-color);
    color: var(--white-color);
}





/* MEDIA QUERIES */
@media all and (max-width:1150px) {


    body{
        --layout:'Regular Desktop';
      }

    .filters-group {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--regular-spacing);
    }

    .recipe-taglist {
        row-gap:calc(var(--gap) / 2);
    }
    
    .card-recipe{
        width:45%;
    }

    .recipes-container{
        justify-content: space-between;
    }

   


}


@media all and (max-width:800px) {

    body{
      --layout:'Tab';
    }

    .wrapper {
        --skeleton:100%;
        padding-inline:1rem;
    }

    .card-recipe{
        width:fit-content;
    }

    .form-select{
        width: 100%;
    }

    .recipes-container {
        margin-top:1.5rem;
    }

    .recipes-counter {
        align-self: start;
        margin-top: 1rem;
        font-size:1.5rem;
        color:var(--secondary-color);
    }

    .count{
        color:var(--black-color)
    }

    .recipes-filter{
        flex-direction: column;
        justify-content: start;
    }

}
