/* MEDIA QUERIES */
@media all and (max-width:1150px) {


    body{
        --layout:'Regular Desktop';
      }

    .filters-group {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--regular-spacing);
    }

    .recipe-taglist {
        row-gap:calc(var(--gap) / 2);
    }
    
    .card-recipe{
        width:45%;
    }

    .recipes-container{
        justify-content: space-between;
    }
}


@media all and (max-width:800px) {

    body{
      --layout:'Tab';
    }

    .wrapper {
        --skeleton:100%;
        padding-inline:1rem;
    }

    .card-recipe{
        width:fit-content;
    }

    .form-select{
        width: 100%;
    }

    .recipes-container {
        margin-top:1.5rem;
    }

    .recipes-counter {
        align-self: start;
        margin-top: 1rem;
        font-size:1.5rem;
        color:var(--secondary-color);
    }

    .count{
        color:var(--black-color)
    }

    .recipes-filter{
        flex-direction: column;
        justify-content: start;
    }

}
