.recipe{

  &-single{
    width: 100%;
    height: auto;
  }

  &-container{
    display: flex;
    justify-content: center;
    align-items: top;
  }


  &-datas{
    padding:0 2rem;

  }

  &-cover{
    object-fit: cover;
    max-width:100%;
    height:100%;
    border-radius:var(--radius);
    // border:2px solid var(--primary-color);
  }

  &-not-found{
    margin-block:5dvh;
    padding:3rem;
    font-size:3rem;
  }

  &-loading{
    margin-block:5dvh;
    padding:3rem;
    font-size:2rem;
    text-align: center;
    color:var(--secondary-color);
  }
}

