.recipe{

  &-single{
    width: 100%;
    height: auto;
  }

  &-cover{
    object-fit: cover;
    width:100%;
    height:100%;
  }

  &-not-found{
    margin-block:5dvh;
    padding:3rem;
    font-size:3rem;
  }

  &-loading{
    margin-block:5dvh;
    padding:3rem;
    font-size:2rem;
    text-align: center;
    color:var(--secondary-color);
  }
}

