.the-form{
  --data-layout:'Search Form';
    position: relative;
    display: flex;
    justify-content: center;
    width: var(--stretching);
}

input#main-search {
    width:100%;
    height:60px;
    padding:.6rem;
    font-size:1rem;
    color:var(--black-color);
    font-weight:var(--weight-bold);
    border-radius:var(--radius);
    border: none;
    background-color: var(--white-color);
}

input[type="search"]::placeholder {
    color:var(--grey-color);
}

.btn-search i.fa-solid {
    color:var(--secondary-color);
    transition: var(--regular-transi);
}

form:focus-within .btn-search i {
    color: var(--main-color);
    transform: rotateY(180deg);
}