.success-message {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: white;
  padding: 2rem;
  
  h2 {
    margin-bottom: 1rem;
    font :{
     family: var(--title-font-family);
      size: 1rem;
    }
    color: var(--title-font-color);
  }
  
  p {
    margin-bottom: 2rem;
    font-size: 1.125rem;
    color: var(--grey-color);
    line-height: 1.6;
  }
}

.error-message {
  max-width: 600px;
  margin: 2rem auto;
  padding: 3rem;
  text-align: center;
  background: var(--white-color);
  border-radius: var(--radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}