
.loader {
  width: 100px;
  height: 40px;
  --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,var(--secondary-color) 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,var(--secondary-color) 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-position: left,center,right;
  background-repeat: no-repeat;
  animation: l8 1s infinite;
}
@keyframes l8 {
  0%   {background-size:40px 100%,40px 100%,40px 100%}
  20%  {background-size:40px 50% ,40px 100%,40px 100%}
  40%  {background-size:40px 50% ,40px 50% ,40px 100%}
  60%  {background-size:40px 100%,25px 50% ,40px 50% }
  80%  {background-size:40px 100%,40px 100%,40px 50% }
  100% {background-size:40px 100%,40px 100%,40px 100%}
}