.store-debbuger{
    width: 100%;
    height:20dvh;
    padding:1rem 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    bottom:-12%;
    left:0;
    background-color: var(--black-color);
    color:var(--white-color);
    z-index: 1000;
    transition: all .25s ease-in-out;

    &:hover{
        bottom:0;
    }

    span{
        font-size:1.25rem;
        color:var(--corporate-color)
    }

    & .title{
    position: absolute;
    top:5px;
    right:0%;
    font-size:1.5rem;
    padding:.45rem;
    color:var(--primary-color);
  }
}



  
